[submodule "bundle/Vundle.Vim"]
	path = bundle/Vundle.Vim
	url = https://github.com/VundleVim/Vundle.Vim.git/
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://www.github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://www.github.com/vim-airline/vim-airline-themes
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://www.github.com/sjl/badwolf
[submodule "bundle/Conque-shell"]
	path = bundle/Conque-shell
	url = https://www.github.com/jewes/Conque-Shell
        ignore = dirty
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://www.github.com/ryanoasis/vim-devicons
